<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iamsahil.pylabs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pylabs">
        <activity
            android:name=".datatype"
            android:exported="false" />
        <activity
            android:name=".codeview"
            android:exported="false" />
        <activity
            android:name=".pyvar"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="false" />
        <activity
            android:name=".crd"
            android:exported="false" />
        <activity
            android:name=".cd"
            android:exported="false" />
        <activity
            android:name=".cardlist"
            android:exported="false" />
        <activity
            android:name=".intropy"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>